<!DOCTYPE html>
<html xmlns:th= "http://thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Home Page</title>
    <!-- This is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
    <a th:href="@{/students/new}" class ="text-sm font-medium text-gray-500">Add Student</a>
    <table>
        <tr th:each="student: ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <a th:href="@{/students/edit/{id}(id=${student.id})}">Update</a>
        </tr>
    </table>
</body>
</html>